<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div>
    <form action="{% url 'chinook:album_list' %}" method="GET">
      <input type="text"  name="q" id="search_albums" placeholder="search album">
      <button type="submit" id="search_button">Search Album</button>
    </form>
  </div>

  <br>
  <div>
    <a href="{% url 'chinook:index' %}" id="home_page"><button>Home-Page</button></a>
  </div>

  <h1>Albums</h1>
  <table id="id_albums_list">
    <tr>
      <th>Title</th>
      <th>Artist</th>
    </tr>
    {% for album in object_list %}
      <tr id="album_{{ forloop.counter }}">
        <td id="album_title">{{ album.title }}</td>
        <td id="album_artist">{{ album.artist }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>
