<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artists</title>
</head>
<body>

  <div>
    <form action="{% url 'chinook:artist_list' %}" method="GET">
      <input type="text"  name="q" id="search_artist" placeholder="search artist">
      <button type="submit" id="search_button">Search Artist</button>
    </form>
  </div>

  <br>
  <div>
    <a href="{% url 'chinook:index' %}" id="home_page"><button>Home-Page</button></a>
  </div>
  <h1>Artists</h1>
  <table id="id_artists_list">
    <tr>
      <th>Name</th>
    </tr>
    {% for artist in artist_list %}
      <tr id="artist_{{ forloop.counter }}">
        <td id="artist_name">{{ artist.name }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>