<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chinook</title>
</head>
<body>
  <table id="elements_table">
    <tr>
      <td>
        <a href="{% url 'chinook:album_list' %}" id="id_album_link">Albums</a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="{% url 'chinook:artist_list' %}" id="id_artist_link">Artists</a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="#">Genres</a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="#">Persons</a>
      </td>
    </tr>
  </table>
</body>
</html>